/*
*******************************
* General Styles
*******************************
*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/*
*******************************
* Navigation
*******************************
*/

nav {
  height: 100%;
  width: 25%;
  float: right;
}


/*
*******************************
* Map Canvas
*******************************
*/

#map-canvas {
  height: 100%;
  width: 75%;
  float: left;
}