/*
*******************************
* General Styles
*******************************
*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
*******************************
* Navigation
*******************************
*/

nav {
  height: 100%;
  width: 25%;
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #414244;
}

nav a:hover, .active {
  color: #F9F598;
}

nav ul li {
  line-height: 3em;
  border: 1px solid #F3C954;
  padding-left: 20px;
  background: #92B7FB;
}

nav ul li:hover, .active {
  background: #A6A595;
}

/*
*******************************
* Map Canvas
*******************************
*/

#map-canvas {
  height: 100%;
  width: 75%;
  float: left;
}